<section class="hero">

    <div class="hero-content">
        <h1>
            Track Time. <br />
            Manage Work. <br />
            Boost Productivity.
        </h1>

        <p class="hero-quote">
            "TimeTrack helps teams log work hours, manage  tasks,
            and analyze Productivity - all in one secure platform."
        </p>

        <div class="hero-btn">
            <button class="primary-btn" routerLink="/signup">Get Started</button>
            <button class="secondary-btn">Learn More</button>
        </div>

        <div class="hero-stats">
            <div>
                <h3>10K+</h3>
                <span>Users</span>
            </div>

            <div>
                <h3>99.9%</h3>
                <span>Uptime</span>
            </div>

            <div>
                <h3>100%</h3>
                <span>In-App Secure</span>
            </div>
        </div>
    </div>
</section>
